body {
  font-family: 'Helvetica', 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: white;
  color: black;
}

/**** LAYOUT ****/

body {
  display: grid;
  grid-template:
    "head head"     auto
    "lines map"     auto
    "timings map"   auto
    "footer footer" auto / 1fr 1fr;
}

header {
  grid-area: head;
}

#lines {
  grid-area: lines; 
}

#map {
  grid-area: map;
}

#timings {
  grid-area: timings;
}

footer {
  grid-area: footer;
}

/**** LINES ****/

#lines table {
  max-width: 600px;
  margin: 0;
  display: block;
  overflow-x: auto;
  border-spacing: 0;
  border-top: 1px solid #5555;
  border-left: 1px solid #5555;
}

#lines th,
#lines td {
  border: 1px solid #5555;
}

#lines th {
  width: 5rem;
}

#lines th.segment:hover {
  background: #81acf0;
}

#lines tbody {
  white-space: nowrap;
}

#lines th,
#lines td {
  padding: 5px 10px;
  border-top-width: 0;
  border-left-width: 0;
  text-align: center;
}

#lines th {
  background: white;
  vertical-align: center;
}

/**** MAP ****/

#map .frame {
  margin: 1rem;
  border: 2px outset #848484c9;
  background: #e4f1f7;
}

/**** TIMINGS ****/

#timings {
  background: #eee;
}

/**** FOOTER ****/

footer {
  padding: 2em;

  /*background-color: #d9e8f6;*/
  font-size: 0.8rem;
}

footer p {
  margin: 2px;
}
